.registration-form, .login-form, .center-form {
  max-width: 500px;
  margin: 0 auto;
}

.gallery .thumbnail-holder {
  display: inline-block;
  margin-right: 10px;
}

.gallery .thumbnail {
  width: auto;
  display: inline-block;
}

.pager .btn {
  margin-right: 10px;
}

.pager .page {
  padding: 7px;
  font-weight: bold;
  color: #666;
}

.navbar-default {
  background-color: #444;
  border-color: #333;
}

.image-data {
  margin-top: 20px;
}

.image-data h3 {
  margin-top: 0;
}

.image-data p {
  font-size: 16px;
}

.image-data p span {
  color: #888;
}

.image-data p a {
  font-weight: bold;
}

.image-holder img {
  max-width: 100%;
}
